@page "/badge-tree"
@using CrystallineSociety.Shared.Dtos.BadgeSystem
@using Microsoft.AspNetCore.Components.Web

<div class="border rounded-3">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <form class="d-flex mb-3">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
        </form>
        <hr>
        <div class="ps-3 height-scroll">
            @for (int i = 1; i <= 30; i++)
            {
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <div class="d-flex align-items-center">
                            <span class="badge-image @arrowClass"></span>
                            <button class="btn font-weight-bold btn-toggle d-inline-flex align-items-center rounded border-0 ps-1 collapsed" @onclick="ToggleHomeCollapse" aria-expanded="@isHomeExpanded">
                                Folder @i
                            </button>
                        </div>
                        <div class="collapse @homeCollapseClass" id="home-collapse">
                            @if (Badges != null)
                            {
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ps-3 small">
                                    @foreach (var badge in Badges)
                                    {
                                        <li class="link-dark d-inline-flex text-decoration-none rounded @(ActiveBadgeUrl == badge.Url ? "active" : "")" @onclick="() => OnBadgeClick(badge)">@badge.Title
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>
