@using CrystallineSociety.Shared.Dtos.BadgeSystem
@inherits AppComponentBase

<div class="border rounded-3 position-relative p-2 ms-0 ms-md-5 badge-container" style="background: @(Badge?.Title == null ? "#f8f9fa" : "#fff")">
    @if (Badge != null)
    {
        <button class="btn btn-primary position-absolute top-0 end-0 m-2">Edit</button>
        <div class="row d-flex align-items-center">
            <div class="container">
                <div class="col-12 d-flex justify-content-center">
                    <div class="badge-img @(Badge.Level)-img"></div>
                </div>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="badge-icon @(Badge.Level)-icon"></div>
                <h1 class="display-4 fw-medium">@Badge.Title</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="p-4 text-center">@Badge.Description</h3>
            </div>
        </div>
    }
</div>
