@using CrystallineSociety.Shared.Dtos.BadgeSystem
@page "/accordion"
@using Microsoft.AspNetCore.Components.Web

<div class="accordion">
    <div class="bg-body-tertiary border rounded-3 container px-0">
        @if (Badges == null)
        {
            <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        else
        {
            <div class="card border-bottom cursor-pointer">
                <div class="card-header custom-bg-color d-flex justify-content-between" @onclick="() => ToggleCollapseAccordion(1)">
                    <span class="item-label fw-bold">Gold</span>
                    <span class="icon-right">
                        <div class="arrow @(accordionCollapsed[1] ? "arrow-down" : "arrow-up")"></div>
                    </span>
                </div>
                <div class="collapse @(GetAccordionCollapseClass(1))" id="item1">
                    <div class="card-body p-2 pb-0">
                        <ul class="list-group border-0">
                            @foreach (var badge in Badges.Where(b => b.Level == BadgeLevel.Gold))
                            {
                                <li class="list-group-item rounded border-0 mt-0 mb-2 cursor-pointer @(ActiveBadgeUrl == badge.Url ? "active": "")" @onclick="() => OnBadgeClick(badge)">@badge.Title</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card rounded-0 border-bottom cursor-pointer">
                <div class="card-header custom-bg-color d-flex justify-content-between" @onclick="() => ToggleCollapseAccordion(2)">
                    <span class="item-label fw-bold">Silver</span>
                    <span class="icon-right">
                        <div class="arrow @(accordionCollapsed[2] ? "arrow-down" : "arrow-up")"></div>
                    </span>
                </div>
                <div class="collapse @(GetAccordionCollapseClass(2))" id="item2">
                    <div class="card-body p-2 pb-0">
                        <ul class="list-group border-0">
                            @foreach (var badge in Badges.Where(b => b.Level == BadgeLevel.Silver))
                            {
                                <li class="list-group-item rounded border-0 mt-0 mb-2 cursor-pointer @(ActiveBadgeUrl == badge.Url ? "active": "")" @onclick="() => OnBadgeClick(badge)">@badge.Title</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card rounded-0 border-bottom cursor-pointer">
                <div class="card-header custom-bg-color d-flex justify-content-between" @onclick="() => ToggleCollapseAccordion(3)">
                    <span class="item-label fw-bold">Bronze</span>
                    <span class="icon-right">
                        <div class="arrow @(accordionCollapsed[3] ? "arrow-down" : "arrow-up")"></div>
                    </span>
                </div>
                <div class="collapse @(GetAccordionCollapseClass(3))" id="item3">
                    <div class="card-body p-2 pb-0">
                        <ul class="list-group border-0 mb-2">
                            @foreach (var badge in Badges.Where(b => b.Level == BadgeLevel.Bronze))
                            {
                                <li class="list-group-item rounded border-0 mt-0 mb-2 cursor-pointer @(ActiveBadgeUrl == badge.Url ? "active": "")" @onclick="() => OnBadgeClick(badge)">@badge.Title</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
