@page "/badgecontent"
@using CrystallineSociety.Shared.Dtos.BadgeSystem
@using CrystallineSociety.Client.Core.Components

@if (Badge != null)
{
    <div class="border rounded-3 p-2 ms-0 ms-md-5 badge-container" style="background: #fff;">
        <div class="d-flex bg-body-tertiary p-3">
            <span class="badge-image @(Badge.Level)"></span>
            <h5 class="ps-2">@Badge.Title - @Badge.Description</h5>
        </div>
        <hr class="p-0">

        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <span class="nav-link active">Approval Method</span>
            </li>
            <li class="nav-item">
                <span class="nav-link disabled" aria-disabled="true">Disabled</span>
            </li>
            <li class="nav-item">
                <span class="nav-link disabled" aria-disabled="true">Disabled</span>
            </li>
            <li class="nav-item">
                <span class="nav-link disabled" aria-disabled="true">Disabled</span>
            </li>
        </ul>

        <ul class="nav nav-pills pt-3">
            @foreach (var appraisalMethod in Badge?.AppraisalMethods ?? new List<AppraisalMethod>())
            {
                <li class="nav-item">
                    <button class="nav-link @(selectedAppraisalMethod == appraisalMethod ? "active" : "")" 
                            @onclick="() => SelectAppraisalMethod(appraisalMethod)">
                        @appraisalMethod.Title
                    </button>
                </li>
            }
        </ul>

        <div class="content-container pt-3">
            @if (selectedAppraisalMethod != null)
            {
                <div class="p-3 border bg-light mb-2 rounded-2">
                    <h5>Badge Requirements</h5>
                    <ul>
                        @foreach (var badgeRequirement in selectedAppraisalMethod.BadgeRequirements)
                        {
                            <BadgeRequirement Requirement="badgeRequirement" />
                        }
                    </ul>
                </div>
                <div class="p-3 border bg-light mb-2 rounded-2">
                    <h5>Activity Requirements</h5>
                    <ul>
                        @foreach (var activityRequirement in selectedAppraisalMethod.ActivityRequirements)
                        {
                            <BadgeRequirement Requirement="activityRequirement" />
                        }
                    </ul>
                </div>
                <div class="p-3 border bg-light mb-2 rounded-2">
                    <h5>Approving Steps</h5>
                    @foreach (var approvingStep in selectedAppraisalMethod.ApprovingSteps)
                    {
                        <div class="approving-step mb-3">
                            <div>Step: @approvingStep.Step</div>
                            <div>Title: @approvingStep.Title</div>

                            <div class="approver-required-badges">
                                <h6>Approver Required Badges:</h6>
                                <ul>
                                    @foreach (var approverBadge in approvingStep.ApproverRequiredBadges)
                                    {
                                        <BadgeRequirement Requirement="approverBadge" />
                                    }
                                </ul>
                            </div>

                            <div>Required Approval Count: @approvingStep.RequiredApprovalCount</div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="border rounded-3 p-2 pt-5 ms-0 ms-md-5 badge-container" style="background: #f8f9fa;">
        <p>No Badge Selected</p>
    </div>
}
