@using CrystallineSociety.Shared.Dtos.BadgeSystem
@using CrystallineSociety.Client.Core.Components
@inherits AppComponentBase

<div class="border rounded-3 position-relative p-2 ms-0 ms-md-5 badge-container" style="background: @(Badge?.Title == null ? "#f8f9fa" : "#fff")">
    @if (Badge != null)
    {
        <button class="btn btn-primary position-absolute top-0 end-0 m-2">Edit</button>
        <div class="row d-flex align-items-center">
            <div class="container">
                <div class="col-12 d-flex justify-content-center">
                    <div class="badge-img @(Badge.Level)-img"></div>
                </div>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="badge-icon @(Badge.Level)-icon"></div>
                <h1 class="display-4 fw-medium">@Badge.Title</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="p-4 text-center">@Badge.Description</h3>
            </div>
        </div>

        @foreach (var appraisalMethod in Badge?.AppraisalMethods ?? [])
        {
            <div class="appraisal-method">
                <h3>@appraisalMethod.Title</h3>

                <div class="badge-requirements">
                    <h5>Badge Requirements:</h5>
                    <ul>
                        @foreach (var badgeRequirement in appraisalMethod.BadgeRequirements)
                        {
                            <BadgeRequirement Requirement="badgeRequirement" />
                        }
                    </ul>
                </div>
                <hr />

                <div class="activity-requirements">
                    <h5>Activity Requirements:</h5>
                    <ul>
                        @foreach (var activityRequirement in appraisalMethod.ActivityRequirements)
                        {
                            <BadgeRequirement Requirement="activityRequirement" />
                        }
                    </ul>
                    
                </div>
                <hr />

                <div class="approving-steps">
                    <h5>Approving Steps:</h5>
                    @foreach (var approvingStep in appraisalMethod.ApprovingSteps)
                    {
                        <div class="approving-step">
                            <div>Step: @approvingStep.Step</div>
                            <div>Title: @approvingStep.Title</div>

                            <div class="approver-required-badges">
                                <h6>Approver Required Badges:</h6>
                                <ul>
                                    @foreach (var approverBadge in approvingStep.ApproverRequiredBadges)
                                    {
                                        <BadgeRequirement Requirement="approverBadge" />
                                    }
                                </ul>
                            </div>

                            <div>Required Approval Count: @approvingStep.RequiredApprovalCount</div>
                        </div>
                    }
                </div>
            </div>
            <hr />
        }
    }
</div>
