@page "/badgecontent"
@using CrystallineSociety.Shared.Dtos.BadgeSystem
@using CrystallineSociety.Client.Core.Components

@if (Badge != null)
{
    <div class="border rounded-3 p-2 ms-3 ms-md-6 badge-container bg-white shadow-sm">
        <div class="p-3 pt-2 align-items-start d-flex">
            <span class="badge-image mt-1 flex-shrink-0 @(Badge.Level)"></span>
            <div>
                <h5 class="ps-2 mb-0 flex-grow-1 text-wrap">@Badge.Title</h5>
                <div class="ps-2 mb-0 flex-grow-1 text-wrap">@Badge.Description</div>
            </div>
        </div>
        <hr class="m-0 pb-3">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <span class="nav-link active">Approval Method</span>
            </li>
            <li class="nav-item">
                <span class="nav-link disabled" aria-disabled="true">Disabled</span>
            </li>
            <li class="nav-item">
                <span class="nav-link disabled" aria-disabled="true">Disabled</span>
            </li>
            <li class="nav-item">
                <span class="nav-link disabled" aria-disabled="true">Disabled</span>
            </li>
        </ul>
        <div class="border p-2 pt-0 border-top-0 rounded-bottom">
            <p class="ps-2 pt-3 pb-2">Different methods to obtain this badge</p>
            <ul class="nav nav-tabs pt-3">
                @foreach (var appraisalMethod in Badge?.AppraisalMethods ?? new List<AppraisalMethod>())
                {
                    <li class="nav-item">
                        <button class="nav-link color-style @(selectedAppraisalMethod == appraisalMethod ? "active" : "")" 
                                @onclick="() => SelectAppraisalMethod(appraisalMethod)">
                            @appraisalMethod.Title
                        </button>
                    </li>
                }
            </ul>
            <div class="border p-2 border-top-0 pt-3 pb-0 rounded-bottom">
                <div class="content-container">
                    @if (selectedAppraisalMethod != null)
                    {
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5 class="mb-0">Badge Requirements</h5>
                            </div>
                            <div class="card-body p-3 pb-0 pt-0">
                                <ul class="list-unstyled mt-3 d-flex">
                                    @{
                                        var varbadgeRequirements = selectedAppraisalMethod.BadgeRequirements;
                                    }

                                    @if (varbadgeRequirements == null || !varbadgeRequirements.Any())
                                    {
                                        <div>
                                            No badge requirements at the moment.
                                        </div>
                                    }
                                    else
                                    {

                                    @foreach (var badgeRequirement in varbadgeRequirements)
                                    {
                                        <button type="button" class="btn btn-primary me-2 p-1 d-flex align-items-center justify-content-center">
                                            <BadgeRequirement Requirement="@badgeRequirement" />
                                        </button>
                                    }
                                    }
                                </ul>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header">
                                <h5 class="mb-0">Activity Requirements</h5>
                            </div>
                            <div class="card-body p-3 pb-0 pt-0">
                                <ul class="list-unstyled mt-3 d-flex">
                                    @{
                                        var activityRequirements = selectedAppraisalMethod?.ActivityRequirements;
                                    }

                                    @if (activityRequirements == null || !activityRequirements.Any())
                                    {
                                        <div>
                                            No activity requirements at the moment.
                                        </div>
                                    }
                                    else
                                    {
                                    @foreach (var activityRequirement in activityRequirements)
                                    {

                                        <button type="button" class="btn btn-primary me-2 p-1 d-flex align-items-center justify-content-center">
                                            <BadgeRequirement Requirement="@activityRequirement" />
                                        </button>
                                    }
                                    }
                                </ul>
                            </div>
                        </div>

                        <div class="card mb-2">
                            <div class="card-header">
                                <h5 class="mb-0">Approving Steps</h5>
                            </div>
                            <div class="card-body p-2 pt-0">
                                @{
                                    var approvingSteps = selectedAppraisalMethod?.ApprovingSteps;
                                }

                                @if (approvingSteps == null || !approvingSteps.Any())
                                {
                                    <div class="p-2 pt-3">
                                        No Approving Steps at the moment.
                                    </div>
                                }
                                else
                                {
                                    @foreach (var approvingStep in approvingSteps)
                                    {
                                        <div class="approver-required-badges mt-2">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div>Step @approvingStep.Step: @approvingStep.Title</div>
                                                </div>
                                                <div class="card-body p-2">
                                                    <div class="approver-required-badges mt-2 p-2 pt-0 pb-0">
                                                        <h6>Approver Required Badges:</h6>
                                                        <ul class="list-unstyled mt-3 d-flex">
                                                        @{
                                                            var approverBadges = approvingStep?.ApproverRequiredBadges;
                                                        }

                                                        @if (approverBadges == null || !approverBadges.Any())
                                                        {
                                                            <div class="mt-2 p-2 pt-0 pb-0">
                                                                No Approver Required Badges at the moment.
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            @foreach (var approverBadge in approverBadges)
                                                            {

                                                                <button type="button" class="btn btn-primary me-2 p-1 d-flex align-items-center justify-content-center">
                                                                    <BadgeRequirement Requirement="@approverBadge" /> 
                                                                </button>
                                                            }
                                                        }
                                                        </ul>
                                                        <div class="mb-2"><strong>Required Approval Count:</strong> @approvingStep.RequiredApprovalCount</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="border rounded-3 p-2 pt-5 ms-3 ms-md-6 badge-container d-flex justify-content-center" style="background: #f8f9fa;">
        <p>No Badge Selected</p>
    </div>
}
