@inherits AppComponentBase;

<section>
    <BitNavBar TItem="BitNavBarOption" Style="width:100%">
        <BitNavBarOption Text="@Localizer[nameof(AppStrings.Home)]" IconName="@BitIconName.Home" Url="@Urls.HomePage" />
        <AuthorizeView>
            <Authorized>
                <BitNavBarOption Text="@Localizer[nameof(AppStrings.Terms)]" IconName="@BitIconName.EntityExtraction" Url="@Urls.TermsPage" />
            </Authorized>
            <NotAuthorized>
                <BitNavBarOption Text="@Localizer[nameof(AppStrings.Terms)]" IconName="@BitIconName.EntityExtraction" Url="@Urls.TermsPage" />
                <BitNavBarOption Text="@Localizer[nameof(AppStrings.About)]" IconName="@BitIconName.Info" Url="@Urls.AboutPage" />
            </NotAuthorized>
        </AuthorizeView>
    </BitNavBar>
</section>