@page "/"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.HomeTitle)]</PageTitle>

<div class="page-container">
    <section class="page-section hero-section">
        <h1 class="hero-section-title">@Localizer[nameof(AppStrings.HomeTitle)]</h1>

        <div class="hero-section-desc">
            @Localizer[nameof(AppStrings.HomeMessage)]
        </div>
        
        <BitButton Href="/badge-system/default">
            Default Badge System
        </BitButton>
        
        <BitButton Href="/badge-system/github">
            GitHub Badge System
        </BitButton>

        <BitButton Href="/education-program">
            Education Program
        </BitButton>
        
        <h1>Test Bootstrap</h1>

        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>

        <BitButton Class="hero-section-cta"
                   Href="https://github.com/bitfoundation/bitplatform/tree/develop/src/Templates/CrystallineSociety/Bit.CrystallineSociety"
                   Target="_blank"
                   Title="@Localizer[nameof(AppStrings.GitHubRepo)]"
                   AriaLabel="@Localizer[nameof(AppStrings.GitHubRepo)]"
                   ButtonStyle="BitButtonStyle.Standard">
            @Localizer[nameof(AppStrings.GitHubRepo)]
        </BitButton>
    </section>
</div>
